* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-image: url('../img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bitcoin__head {
  position: relative;
  margin-bottom: 60px;
}

.bitcoin__heading {
  font-size: 36px;
  color: #fff;
}

.bitcoin__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('../img/info.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: -60px;
  cursor: pointer;
}

.bitcoin__body {
  margin: 0 auto;
  text-align: left;
  max-width: 280px;
}

.bitcoin__money {
  color: #fff;
  font-size: 36px;
}

.bitcoin__money span {
  color: inherit;
}

.bitcoin__money:not(:last-child) {
  margin-bottom: 20px;
}

.money-logo {
  margin-right: 20px;
}