@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;1,100;1,200&display=swap');

* {
  font-family: 'Noto Sans';
  box-sizing: border-box;
}

body {
  height: 98vh;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  color: white;
  font-size: 10vw;
  font-weight: 100;
  background: #00000079;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}